# Installed on top of torch 1.9.0+cu111 and MinkowskiEngine (see Dockerfile).
numpy==1.23.5
scipy==1.10.1
pytorch_lightning==1.5.10
torchmetrics==0.6.2
setuptools==59.5.0
protobuf==3.20.3
diffusers==0.18.0
huggingface_hub==0.20.3
open3d==0.17.0
opencv-python-headless==4.8.1.78
hdbscan==0.8.33
matplotlib==3.7.5
click==8.1.4
natsort==8.1.0
tqdm
pyyaml
